/* A. Universal Selector */
    * {
      font-family: Arial, sans-serif;
      box-sizing: border-box;
    }
    
    /* B. Type Selector */
    
    
    
    /* C. Group Selector */
    header, footer {
      background-color: black;
      color: white;
      text-align: center;
      padding: 10px;
    }
    
    /* D. ID Selector */
    #main-title {
      text-transform: uppercase;
      word-spacing: 10px;
      letter-spacing: -3px;
      margin-bottom: 0;
      text-shadow: 2px 2px 5px yellow;
    }
    
    
    /* E. Class Selector */
    .intro {
      font-size: 1.5em;
      text-decoration: underline;
      margin-top: 0;
    }
    
    /* F. Child Selector */
    section > img:first-child {
      width: 25vw;
      height: 25vh;
      display: block;
      margin: 10px auto;
    }

   
    /* G. Descendant Selector */
    .container img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      float: left;
    }
    .container img ~ img { /* targetting the img siblings of img inside .container */
      float: right;
      margin-left: 5px;
    }

    header  a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }

    /* H. Attribute Selector */
    a[target="_blank"] {
      color: red;
      text-decoration: none;
    }
    a[href="/internal-page"] {
      color: yellow;
      text-decoration: none;
    }
    
    /* I. :hover pseudo-class */
    a:hover {
      color: white;
      text-decoration: underline;
    }
    
    a:active { /* the style will be shown only when a user doed not remove the selection on the link */
      color: white;
      background-color: darkgray;
    }
    /* extra CSS */
    .container ul {
      list-style-type: none; /* removes bullets */
      clear: left; /* to remove effect of float:left or right or both*/
      padding: 0; /* removes the spaces surrounding the lis */
    }
    
    .container ul li {
      display:inline-block; /* to inline element, but retains block element characteristics */
      width: 150px;
      padding: 5px;
      background-color: cornsilk;
      text-align: center;
      border-radius: 0px 25px;
    }